body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}


/* HEADER */

#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
  height: 100px;
  border: 2px solid black;
}
.navbar-header {
	padding-left: 10px;
}

.navbar-brand {
  padding-top: 25px;

}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-brand h1 { /* company name */
  font-family: 'Lora';
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
  margin-left: -120px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.page-heading h2 {
	text-align: center;
	font-family: 'Lora';
	font-weight: bold;
}

.page-section {
	background-color: #808080;
	font-family: 'Lora';
	font-weight: bold;
	color: #000000;
	margin: auto -175px auto -175px;
}
.page-section h3 {
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	font-family: 'Lora';
	text-align: center;
	padding-top: 10px;
}
.page-section p {
	margin: 0;
	margin: auto 30px auto 30px;
}



/***********extra small devices*************/
@media (max-width: 767px) {

	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1 {
		padding-left: 150px;
		padding-top: 10px;
		font-size: 5vw;
	}

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
	.page-section {
		margin-right: 50px;
		margin-left: 50px;
		margin-top: 30px;
	}